<div *ngIf="job">

<table class="table table-striped job-details">
<thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>ID</td>
        <td>{{ job.id }}</td>
    </tr>
    <tr>
      <td>Title</td>
      <td>{{ job.title }}</td>
    </tr>
    <tr>
      <td>Thumbnail</td>
      <td><img [src]="job.thumbnail"></td>
    </tr>
    <tr *ngIf="job.attachments.length > 0">
        <td>Attachments</td>
        <td>
            <span *ngFor="let img of job.attachments">
                <img [src]="img" class="img-circle">
            </span>
            </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ job.description }}</td>
    </tr>
</tbody>
</table>

</div>