<div class="container">
  <div class="row">
    <h1>{{ title }}</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <app-sidebar></app-sidebar>
      </div>
    <div class="col-8">
      <section class="main-container">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>