<div *ngIf="jobsLoading">loading...</div>

<div class="list-group" *ngIf="!jobsLoading">
  
  <section *ngFor="let job of jobs">

    <mat-card class="example-card" routerLink="/job/{{job.id}}">
      <mat-card-header>
        <mat-card-title>{{job.title.slice(0,15)}}...</mat-card-title>
        <mat-card-subtitle>show details..</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </section>

</div>
